:root {
    --black-100: #000000; /* pure black */
    --black-90: #1a1a1a; /* dark grey */
    --black-80: #333333; /* medium grey */
    --black-70: #4d4d4d; /* light grey */
    --black-60: #666666; /* very light grey */
    --white-pure: #ffffff
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--black-100);
    overflow-x: hidden;
}



/*----------navbar---------- */


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 55px;
    background-color: var(--black-90);
    position: relative;
    z-index: 2;
}

.logo a{
    text-decoration: none;
    color: var(--white-pure);
    font-size: 250%;
    margin-left: 25px;
}

/*----------responsive nav  .main-nav  ---------- */

.main-nav{
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search-form{
    display: flex;
}

#search-form input{
    outline: none;
    padding-left: 8px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 28px;
    width: 30vw;
    margin: 0px;
}

#search-form button{
    outline: none;
    height: 28px;
    width: 28px;
    border: none;
    margin: 0px;  
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}


.topnav{
    margin-right: 45px;
}
.topnav a{
    font-size: 150%;
    height: 55px;
    color:var(--white-pure);
    text-decoration: none;
    margin: auto 10px;
}

.topnav a:hover{
    color: rgb(47, 141, 124);
}

.active{
    color: rgb(47, 141, 124) !important;
    
}

#toggle{
    display: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 190%;
    position: absolute;
    right:30px;
    top: 0px;
}

#notification-badge{
    height: 18px;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: rgb(47, 141, 124);
    border-radius: 50%;
    color: var(--white-pure);
    position: absolute;
    top: 6px;
    right: 50px;   
    font-weight: 500;
}

.nav-icons{
    transform: scale(1,1);
}
.nav-text{
    display: none;

}

.nav-icons:hover{
    transform: scale(1.4,1.4);
}

/*----------carousel---------- */

.carousel {
    position: relative;
    width: 60vw;
    margin: 50px auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    transform: translateX(-00%);
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel img {
    width: 100%;
    size: 100%;
    display: block;
}

.prev,
.next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/*----------product-section---------- */
.section-head{
    display: flex;
    align-items: center;
    width: 80vw;
    justify-content: space-between;
    margin-inline:55px ;
}

.title{
    color: #ffffff;
    font-size: 224%;
    font-weight: 400;
}
.view-link{
    color: rgb(47, 141, 124);
    display: inline-block;
    font-size: 125%;
    font-weight: 300;
}
.products-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 250px; 
    border-radius: 10px;
    background-color: #242124;
    overflow-x: hidden;
    margin: 55px;
}

.product-cards{
    border-radius: 5px;
    height: 230px;
    max-width: 250px;
    margin: 5px 10px;
    background-color: #4d4d4d;
    text-decoration: none;
    cursor: pointer;
}

.product-logo{
    border-radius: 2px;
    height: 150px;
    width: 150px;
    min-width: 150px;
    margin: 7px auto;
}

.product-logo img{
    height:150px;
    width: 150px;
}

.product-name{
    width: 200px;
    height: 25px;
    text-align: center;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 125%;
    overflow: hidden;
}

.price{
    margin-left: 20px;
    margin-top: 10px;
    color: #ffffff;
    width: 100%;
    font-size: 150%;
}


footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .footer-column {
    flex: 1;
    margin: 10px;
    min-width: 200px;
  }
  
  .footer-column h3 {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .footer-column form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .footer-column input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
  }
  
  .footer-column button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:rgb(77, 148, 135);
    color: white;
    cursor: pointer;
  }

  .footer-column button:hover{
    background-color: rgb(47, 141, 124);
  }

  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin: 5px 0;
  }
  
  .footer-column ul li a {
    color: white;
    text-decoration: none;
  }
  
  .footer-column ul li a:hover {
    color: rgb(47, 141, 124);
    font-size: 124%;
  }
  
  .footer-copyright {
    margin-top: 20px;
    font-size: 14px;
  }
  
  
  
  
